* {
    padding: 0px;
    margin: 0px;
}

/* Section subscribe */
.subscribe-container {
    margin: 20px 0;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.subscribe-container .subscribe-button {
    background-color: black;
    margin-top: 10px;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}


.subscribe-container .subscribe-button:hover {
    color: rgb(209, 209, 209);
}

.subscribe-container .is-subscribed{
    background-color: rgb(226, 226, 226);
    color: black;
}
.subscribe-container .is-subscribed:hover{
    color: rgb(81, 81, 81);
}

/* Section amazonShippingCalculator */
.ship-calc {
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
}

.ship-calc p {
    margin: 10px 0;
}

.calculate {
    display: flex;
    height: 40px;
}

#cost {
    border: 1px solid rgb(217, 217, 217);
    width: 180px;
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#cost:focus {
    outline: none;
    /* Remove o destaque padrão */
    border-color: black;
}


#cost::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.cost-button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    width: 90px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: color 0.3s;
}


.cost-button:hover {
    color: rgb(217, 217, 217);
}

.result-container {
    height: 30px;
}

/* Section RockPaperScrissors */

.game-container {
    margin: 10px 0;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.game-container p {
    padding-bottom: 10px;
}