.footer{
  background-color: black;
  border-top: 2px solid #f44336; 
  width: 100%;
  height: 50px;
  padding-block: .3rem;
    
  & h2{
    text-align: center;
    font-size: 1.15rem;
    color: white;
  }
}