.header {
  background-color: black;
  border-bottom: 2px solid #f44336;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  z-index: 9999;

  & .container {
    height: 4rem;
    padding: 0 1rem;
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .logo {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(255, 0, 0);
  }

  & .nav {
    & .link {
      padding: 0 .5rem;
      color: rgb(255, 255, 255);
      text-decoration: none;

    }
  }
}


@media (max-width: 600){
  .container span{
    font-size: 1.5rem;
  }
  .link{
    font-size: 0.95rem;
    padding-inline:0.5rem;
  }
}

@media (max-width:380){
  .logo span{
    font-size: 1.5rem;
  }
  .nav .link{
    font-size: 0.75rem;
  }
}